.MenuItem {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 7.5px 15px;
  overflow: hidden;

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  &:hover {
    cursor: pointer;

    & .MenuItem__bgImage {
      transform: scale(1.2);
      opacity: 1;
      transition: transform 6s cubic-bezier(.25, .45, .45, .95),
        opacity 1s ease;
    }

    & .MenuItem__content {
      background-color: rgba(255, 255, 255, 1);
      transition: background-color 1s ease, padding 1s cubic-bezier(.25, .45, .45, .95);
    }
  }
}

.MenuItem__large {
  height: 380px;
}

.MenuItem__bgImage {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: transform 12s ease,
    opacity 2s ease;
  opacity: .8;
}

.MenuItem__content {
  position: absolute;
  height: 90px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .8);
}

.MenuItem__title {
  font-weight: bold;
  margin: 0px;
  font-size: 22px;
}

.MenuItem__subtitle {
  font-weight: 200;
  font-size: 16px;
}
