.CartIcon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.CartIcon__logo {
  width: 30px;
  height: 30px;
}

.CartIcon__count {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  bottom: 12px;
}