.CollectionItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;

  @media screen and (min-width: 600px) {
    width: 22%;
  }

  &:hover {
    .CollectionItem__button {
      display: block;
    }
  }
}

.CollectionItem__image {
  width: 100%;
  height: 95%;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
}

.CollectionItem__footer {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.CollectionItem__footerName {
  width: 90%;
  margin-bottom: 15px;
}

.CollectionItem__button {
  display: none;
  width: 80%;
  opacity: 0.85;
  position: absolute;
  top: 225px;
  margin-right: 0;
  padding: 0 10px;
  min-width: 0;
  line-height: 18px;

  &:hover {
    border: 0;
  }
}