.CartDropdown {
  left: 2rem;
  right: 2rem;

  @media screen and (min-width: 600px) {
    width: 70%;
    right: 2rem;
    left: revert;
    box-shadow: 0px 11px 21px 0px rgba(0, 0, 0, 0.22);

  }

  position: absolute;
  min-height: 340px;
  resize: vertical;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  z-index: 5;
}

.CartDropdown__items {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.CartDropdown__itemsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.CartDropdown__itemQuantity {
  min-width: 2ch;
  display: inline-block;
  text-align: right;
}

.CartDropdown__button {
  margin-top: auto;
  margin-right: 0;
  display: block;
}