.Checkout {
  width: 100%;

  @media only screen and (min-width: 768px) {
    width: 70%;
  }

  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
}

.Checkout__total {
  margin-top: 30px;
  margin-left: auto;
  font-size: 36px;
}

.Checkout__header {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid darkgrey;
}

.Checkout__headerBlock {
  text-transform: capitalize;
  width: 23%;

  &:last-child {
    width: 10%;
  }
}