.Header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.Header__logoContainer {
  width: 70px;
  margin: 5px;
}

.Header__logo {
  height: 100%;
}

.Header__options {
  height: 100%;
  display: flex;
  align-items: center;
}

.Header__option {
  padding: 10px;
  margin: 0 5px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  cursor: pointer;
  position: relative;

  &:hover:after {
    width: 100%;
    left: 0;
    background: black;
  }

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    right: 0;
    background: #000;
    transition: width .2s ease, height .1s ease;
  }

  &.user {
    background: salmon;
    color: white;
    border: 1px solid salmon;
    border-radius: 5px;
    font-weight: 400;
    margin-right: 1rem;

    &:hover:after {
      width: 0%;
    }
  }
}
