.CheckoutItem {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;

  .name,
  .quantity,
  .price {
    width: 23%;
  }

  .quantity {
    padding-left: 20px;
  }

  .remove-button {
    padding-left: 12px;
    cursor: pointer;
  }
}

.CheckoutItem__image {
  width: 23%;
  padding-right: 15px;

  img {
    width: 100%;
    height: 100%;
  }
}

.CheckoutItem__button {
  cursor: pointer;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  border: 0;
  font-size: 1rem;
}

.CheckoutItem__button_remove {
  background-color: tomato;
}

.CheckoutItem__button_add {
  background-color: #007bff;
}

.disabled {
  background-color: lightgray;
  cursor: not-allowed;
}