.CollectionPreview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.CollectionPreview__title {
  font-size: 28px;
  margin-bottom: 25px;
  margin-top: -9px;
}

.CollectionPreview__preview {
  display: block;
  justify-content: space-between;

  @media screen and (min-width: 600px) {
    display: flex;
  }
}