.CollectionPreview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.CollectionPreview__title {
  font-size: 28px;
  margin-bottom: 25px;
  margin-top: 0;
}

.CollectionPreview__preview {
  display: flex;
  justify-content: space-between;
}
