.App {
  font-family: 'IBM Plex Sans', Courier, monospace;
  padding: 15px 25px;

  @media screen and (min-width: 600px) {
    padding: 20px 60px;

  }

  a {
    color: black;
  }
}

html {
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}