.App {
  font-family: 'IBM Plex Sans', Courier, monospace;
  padding: 20px 60px;

  a {
    // text-decoration: none;
    // color: black;
  }
}

html {
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}